<header class="p-3 text-bg-dark">
  <div class="container" >
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start" id="menu">

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0" >
        <li><a href="/" class="nav-link px-3 text-white "> <i class="bi bi-house-door mx-2"
              style="color:#ffca2c"></i>Anasayfa</a></li>
        <li><a href="/kategoriler" class="nav-link px-3 text-white"><i class="bi bi-collection mx-2"
              style="color:#ffca2c ;"></i>Kategoriler</a></li>
        <li><a href="/dersler" class="nav-link px-3 text-white"><i class="bi bi-book mx-2"
              style="color:#ffca2c ;"></i>Dersler</a></li>
        <li><a href="/uyeler" class="nav-link px-3 text-white"><i class="bi bi-people mx-2"
              style="color:#ffca2c ;"></i>Üyeler</a></li>
        <li ><a href="/uyedersler" class="nav-link px-3 text-white"><i class="bi bi-book mx-2"
              style="color:#ffca2c ;"></i>Öğrenci Dersleri  </a></li>

      </ul>

      <div class="text-end">
        <button type="button" *ngIf="!dataServis.OturumKontrol()" class="btn btn-outline-warning"
          [routerLink]="['/login']">Giriş Yap</button>
        <span *ngIf="dataServis.aktifUye.rol=='1'" class="badge bg-warning me-2">Admin</span>
        <span *ngIf="dataServis.aktifUye.rol=='2'" class="badge bg-dark me-2">Öğretim Üyesi</span>
        <span *ngIf="dataServis.aktifUye.rol=='3'" class="badge bg-success me-2">Öğrenci</span>
        <button type="button" *ngIf="dataServis.OturumKontrol()" class="btn btn-outline-danger"
          (click)="OturumKapat()">Çıkış Yap</button>
      </div>
    </div>
  </div>
</header>

<div style="height: 50px;"></div>

<div class="container">
  <router-outlet> </router-outlet>

</div>