<div class="text-center ">
  <h1> <b> Konular</b></h1>
</div>
<h5><b> Lütfen Ders Seçiniz</b></h5>

<select [(ngModel)]="dersId" (ngModelChange)="DersSec($event)" class="form-control mt-1 w-25">
  <option [value]="ders.id" *ngFor="let ders of dersler">{{ders.dersAdi}}</option>
</select>

<div *ngIf="dersId!=0" class="alert alert-info mt-2 w-25">Seçili Ders : {{secDers.dersAdi}}</div>


<button class="btn  btn-warning my-2" *ngIf="dataServis.aktifUye.rol!=='3'" (click)="Ekle(ModalEkleDuzenle)"><i class="bi bi-plus-lg"
    style="color:#000000 ;"></i> Konu Ekle</button>
<table class="table table-hover table-striped">

  <thead class="thead-dark">
    <th>Id</th>
    <th>Konu Adı</th>

    <th>Düzenle</th>
    <th>Sil</th>
  </thead>
  <tbody class="table-group-divider">
    <tr *ngFor="let konu of konular">
      <td>{{konu.id}}</td>
      <td>{{konu.konuAdi}}</td>

      <td><button class="btn  btn-warning rounded-circle" (click)="Duzenle(konu,ModalEkleDuzenle)" [disabled]="dataServis.aktifUye.rol=='3'"><i
            class="bi bi-pencil-square" style="color:#000000 ;"></i></button></td>
      <td><button class="btn  btn-danger  rounded-circle" (click)="Sil(konu,ModalSil)" [disabled]="dataServis.aktifUye.rol=='3'"><i class="bi bi-trash3"
            style="color:#000000 ;"></i></button>
      </td>
    </tr>
  </tbody>
</table>

<div class="modal" tabindex="-1" #ModalEkleDuzenle>
  <div class="modal-dialog">
    <form [formGroup]="frm" (ngSubmit)="KonuEkleDuzenle()">
      <div class="modal-content">
        <div class="modal-header bg-warning text-black">
          <h5 class="modal-title">{{modalBaslik}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <input type="hidden" class="form-control" formControlName="id">
             <label>Konu Adı</label>
            <input type="text" class="form-control mt-1" formControlName="konuAdi">
            <label>Konu Dersi</label>
            <select class="form-control mt-1" formControlName="lessonId">
              <option [value]="ders.id" *ngFor="let ders of dersler">{{ders.dersAdi}}</option>
            </select>


          </div>
        </div>
        <div class="modal-footer">
          <input type="submit" class="btn btn-warning" value="Kaydet">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">İptal</button>
        </div>
      </div>
    </form>
  </div>
</div>


<div class="modal" tabindex="-1" #ModalSil>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-danger text-black">
        <h5 class="modal-title">{{modalBaslik}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h6 *ngIf="secKonu"> <b>{{secKonu.konuAdi}}</b> Adlı Konuyu Silinecektir Onaylıyor Musunuz ?</h6>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" (click)="KonuSil()">Sil</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">İptal</button>
      </div>
    </div>

  </div>
</div>