<div class="text-center ">
  <h1> <b> Dersler</b></h1>
</div>
<h5> <b> Lütfen Kategori Seçiniz</b></h5>

<select [(ngModel)]="kategoriId" (ngModelChange)="KategoriSec($event)" class="form-control mt-1 w-25">
  <option [value]="kategori.id" *ngFor="let kategori of kategoriler">{{kategori.kategoriAdi}}</option>
</select>

<div *ngIf="kategoriId!=0" class="alert alert-info mt-2 w-25">Seçili Kategori : {{secKategori.kategoriAdi}}</div>

<button class="btn  btn-warning my-2" *ngIf="dataServis.aktifUye.rol!=='3'" (click)="Ekle(ModalEkleDuzenle)"><i class="bi bi-plus-lg"
    style="color:#000000 ;"></i> Ders Ekle</button>
    <button class="btn btn-success ms-3"  [routerLink]="['/konular']">Ders Konuları</button>

    <table class="table table-hover table-striped">
  <thead class="thead-dark">
    <th>Id</th>
    <th>Ders Kodu</th>
    <th>Ders Adı</th>
    <th>Ders Kredisi</th>
    <th>Ders Saati</th>
    <th>Kayıt Tarihi</th>
    <th>Düzenleme Tarihi</th>
    <th>Ders Konuları</th>
    <th>Düzenle</th>
    <th>Sil</th>
  </thead>
  <tbody class="table-group-divider">
    <tr *ngFor="let ders of dersler">
      <td>{{ders.id}}</td>
      <td>{{ders.dersKodu}}</td>
      <td>{{ders.dersAdi}}</td>
      <td>{{ders.dersKredisi}}</td>
      <td>{{ders.dersSaati}}</td>
      <td>{{ders.kayTarih | date:"dd.mm.yyyy hh.mm.ss"}}</td>
      <td>{{ders.duzTarih | date:"dd.mm.yyyy hh.mm.ss"}}</td>
      <td><button class="btn  btn-success rounded-circle" [routerLink]="['/konular',ders.id]"><i
            class="bi bi-pencil-square" style="color:#000000 ;"></i></button></td>
      <td><button class="btn  btn-warning rounded-circle" (click)="Duzenle(ders,ModalEkleDuzenle)" [disabled]="dataServis.aktifUye.rol=='3'"><i
            class="bi bi-pencil-square" style="color:#000000 ;"></i></button></td>
      <td><button class="btn  btn-danger  rounded-circle" (click)="Sil(ders,ModalSil)" [disabled]="dataServis.aktifUye.rol=='3'"><i class="bi bi-trash3"
            style="color:#000000 ;"></i></button>
      </td>
    </tr>
  </tbody>
</table>

<div class="modal" tabindex="-1" #ModalEkleDuzenle>
  <div class="modal-dialog">
    <form [formGroup]="frm" (ngSubmit)="DersEkleDuzenle()">
      <div class="modal-content">
        <div class="modal-header bg-warning text-black">
          <h5 class="modal-title">{{modalBaslik}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <input type="hidden" class="form-control" formControlName="id">
            <label>Ders Kodu</label>
            <input type="text" class="form-control mt-1" formControlName="dersKodu">
            <label>Ders Adı</label>
            <input type="text" class="form-control mt-1" formControlName="dersAdi">
            <label>Ders Kredisi</label>
            <input type="text" class="form-control mt-1" formControlName="dersKredisi">
            <label>Ders Saati</label>
            <input type="text" class="form-control mt-1" formControlName="dersSaati">
            <label>Ders Kategorisi</label>
            <select class="form-control mt-1" formControlName="categoryId">
              <option [value]="kategori.id" *ngFor="let kategori of kategoriler">{{kategori.kategoriAdi}}</option>
            </select>
            <input type="hidden" class="form-control" formControlName="kayTarih">
            <input type="hidden" class="form-control" formControlName="duzTarih">

          </div>
        </div>
        <div class="modal-footer">
          <input type="submit" class="btn btn-warning" value="Kaydet">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">İptal</button>
        </div>
      </div>
    </form>
  </div>
</div>


<div class="modal" tabindex="-1" #ModalSil>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-danger text-black">
        <h5 class="modal-title">{{modalBaslik}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h6 *ngIf="secDers"> <b>{{secDers.dersAdi}}</b> Adlı Ders Silinecektir Onaylıyor Musunuz ?</h6>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" (click)="DersSil()">Sil</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">İptal</button>
      </div>
    </div>

  </div>
</div>